<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <Link rel="stylesheet" href="./styles.css">
    <script src="https://kit.fontawesome.com/0accacd598.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="caja_principal">
        <header>
            <p class="titPrin">ZAFARI</p>
        </header>

        <section class="cont_sec">
            <div class="tit">
                <H1 class="texto" id="Home"><i class="fas fa-home"></i> Home</H1>
            </div>
            <div class="tit">
                <H1 class="texto" id="WhatZapp"><i class="fab fa-whatsapp"></i> WhaztzApp</H1>
            </div>
            <div class="tit">
                <H1 class="texto" id="Zpotify"><i class="fab fa-spotify"></i> Zpotify</H1>
            </div>
        </section>
        <section class="layout">
            <h1 class="tit2" id="Titulo">Zafary<br>La mejor forma<br>de ver los sitios web.</h1>
            <iframe class="IF" id="iFrame" src="../Home/index.html" frameborder="0"></iframe>
        </section>

        <script src="./index.js"></script>
    </main>
</body>

</html>