* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 985px;
    height: 1024px;

    display: grid;
    grid-template-columns: 0 2;
    box-sizing: border-box;

    background: #FFFFFF;
}

main {
    position: absolute;
    width: 985px;
    height: 1024px;
}

.caja_izq {
    width: 301px;
    height: 1014px;

    background: #FFFFFF;
    box-sizing: border-box;
    float: left;

}

.lista_contacto {
    width: 301px;
    height: 132px;

    background: #DBDBDB;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    border-right: 1px solid #8C8C8C;
    text-align: center;
    line-height: 40px;
    padding-top: 20px;
}

.caja_izq_2 {
    width: 301px;
    height: 449px;

    background: #FFFFFF;
    box-sizing: border-box;
    display: grid;
}

.contactos {
    display: grid;
    grid-template-columns: 25% 70%;

    box-sizing: border-box;
    vertical-align: middle;
    align-content: center;

    width: 301px;
    height: 86px;
    border-bottom: 1px solid #DBDBDB;
    background: #FFFFFF;
    padding-left: 24px;
}

img {
    width: 61px;
    height: 61px;
    border-radius: 50%;

}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
}

.caja_der {
    width: 685px;
    height: 1014px;
    box-sizing: border-box;
    margin-left: 301px;
}

.contacto_superior {
    width: 685px;
    height: 132px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    background: #DBDBDB;
    text-align: center;
    padding-top: 40px;
}

.caja_ch {
    width: 685px;
    height: 449px;
    box-sizing: border-box;
    background: #F2F2F2;
}

.chat {
    width: 685px;
    height: 390px;
    box-sizing: border-box;
}

.chat_es {
    width: 685px;
    height: 48px;
    box-sizing: border-box;
    background: #F2F2F2;
    text-align: center;
}

input {
    width: 650px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border-radius: 25px;
    box-sizing: border-box;
    border: 1px solid #DBDBDB;
    text-align: left;
    padding-left: 20px;
    color: #8F8F8F;
}

.contactos:hover {
    background: #F2F2F2;
}